.button {
                display: block;
                width: 180px;
                height: 60px;
                position: relative;
                border: 2px solid #04a;
                border-radius: 5px;
                background-color: #1ACF86;

                float:left;
            }
            .button .content {
                display: block;
                position: absolute;
                bottom: 6px;
                width: 100%;
                height: 100%;
                line-height: 60px;
                text-align: center;
                background-color: #1ACF86;
                color: #fff;
                text-transform: uppercase;
                box-shadow: 0 6px 0 #06c;
                border-radius: 9px;
                transition: all 0.1s linear;
                float: left;
                padding: 10px;
            }

            .button:active .content {
                bottom: 0;
                box-shadow: 0 0 0 #06c;
            }
